<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <rosparam file="$(find direct_dynamic_controller)/config/direct_controller/direct_controller.yaml" command="load"/>
  <node name="direct_dynamic_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="dynamic_controller"/>
</launch>


